.App {
  text-align: center;
  background-color: #181a1b;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.MuiAppBar-colorPrimary.AppBar {
  background-color: #404040;
}

.MuiTab-textColorInherit.Tab {
  color: white;
}

.TabPanel {
  flex-grow: 1;
  justify-content: center;
  padding: 40px 25px;
}